Resources:
  AWSEBLoadBalancerSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 24.153.178.134/32
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 24.153.178.134/32
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 88
          ToPort: 88 
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0

  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties: 
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 22
          ToPort: 22
          CidrIp: 0.0.0.0/0 
        - IpProtocol: tcp
          FromPort: 88
          ToPort: 88
          SourceSecurityGroupId: 
            Ref: AWSEBLoadBalancerSecurityGroup
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          SourceSecurityGroupId: 
            Ref: AWSEBLoadBalancerSecurityGroup

  AWSEBSecurityGroupIngress:
    Type: "AWS::EC2::SecurityGroupIngress"
    Properties:
      GroupId:
        Fn::GetAtt:
          - "AWSEBSecurityGroup"
          - "GroupId"
      SourceSecurityGroupId:
        Fn::GetAtt:
          - "AWSEBSecurityGroup"
          - "GroupId"
      IpProtocol: "tcp"
      ToPort: "5701"
      FromPort: "5701"

  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      Listeners: 
        - LoadBalancerPort: 80 
          Protocol: "HTTP"
          InstancePort: 88
          InstanceProtocol: "HTTP"
        - LoadBalancerPort: 443
          Protocol: "SSL"
          InstancePort: 80
          InstanceProtocol: "TCP"
          SSLCertificateId: "arn:aws:iam::055288622657:server-certificate/selfie"
      HealthCheck:
        Timeout: "5"
        Interval: "30"
        Target: "HTTP:80/"
        HealthyThreshold: "3"
        UnhealthyThreshold: "5"
