commands:
  01ruckus-pass-host-ip:
    command: HOSTIP=`hostname | sed 's/ip-//g' | sed 's/-/./g'` && sed -i 's/# port mapping/EB_CONFIG_DOCKER_ENV_ARGS+=(-e HOSTIP='"$HOSTIP"')/g' /opt/elasticbeanstalk/hooks/appdeploy/pre/04run.sh
  02ruckus-map-ports:
    command: sed -i 's/$EB_CONFIG_DOCKER_PORT_MAPPING \\/$EB_CONFIG_DOCKER_PORT_MAPPING -p 5701:5701 \\/g' /opt/elasticbeanstalk/hooks/appdeploy/pre/04run.sh
  03ruckus-kill-running-containers:
    command: sed -i "s/# run the container/docker ps -a | awk '{print $1}' | grep -v CONTAINER | xargs docker rm -f/g" /opt/elasticbeanstalk/hooks/appdeploy/pre/04run.sh

container_commands:
  04ruckus-replace-nginx-config:
    command: cp .ebextensions/nginx.conf /etc/nginx/nginx.conf
  05ruckus-install-docker-log-config:
    command: cp .ebextensions/docker-logging.conf /opt/elasticbeanstalk/tasks/taillogs.d/docker-logging.conf



